bin/collatinus
C*.app
.*

bin/data/*.bak

# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user
bin/data/dicos/Gaffiot_2016-jun16.col
bin/data/dicos/Georges_1913-avr16.col
bin/data/dicos/Lewis_and_Short_1879-mai16.col
bin/data/dicos/Quicherat_1836.cfg
bin/data/dicos/Quicherat_1836.djvu
bin/data/dicos/Quicherat_1836.idx
